<mat-toolbar class="nav-bar" color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <img class="logo" src="assets/logos/default.svg">
    <h1>{{ title }}</h1>
    <div class="flex-spacer"></div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-searchpanel (search)="onSearch($event)"></app-searchpanel>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>          
  </mat-sidenav-content>
</mat-sidenav-container>
